<div data-role="page" id="recents" data-theme="c">
	<div data-role="header" class="astfone_header" data-theme="b">
		<h1></h1>
	</div>
	<div data-role="content">
		<div align="center">
			<ul data-role="listview" data-inset="false">
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/outgoing-cal-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								3min4sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.334
							</div>
						</div>
					</div> </a>
				</li>
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/outgoing-cal-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								3min4sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.334
							</div>
						</div>
					</div> </a>
				</li>
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/outgoing-cal-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								3min4sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.334
							</div>
						</div>
					</div> </a>
				</li>
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/outgoing-cal-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								3min4sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.334
							</div>
						</div>
					</div> </a>
				</li>
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/outgoing-cal-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								3min4sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.334
							</div>
						</div>
					</div> </a>
				</li>
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/incoming-call-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								3min4sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.0
							</div>
						</div>
					</div> </a>
				</li>
				<li>
					<a href="#" style="padding-right: 8px !important;">
					<div class="ui-grid-a" >
						<div class="ui-block-a"
						style="width: 50%; ">
							<div class="" style="float: left; padding-right: 4px;">
								+234 8024779502
							</div>
							<div class=""><img src="../../../assets/images/missed-call-icon.png" style="width:20px; height:20px;"/>
							</div>
							<div style="margin-top:-4px; color: #808080; padding:0px 0px 0px 10px !important;font-weight: bold;font-size:12px;">
								Jul 5 08:30 Am
							</div>
						</div>
						<div class="ui-block-b"
						style="width: 50%;margin-right:-10px !important; ">
							<div style="color: #000000; font-weight: bold; font-size: 13px;float: right;">
								0min0sec
							</div>
							<br>
							<div style="margin-top:-6px; color: #4682B4; font-weight: bold; float: right; font-size: 12px;">
								$0.0
							</div>
						</div>
					</div> </a>
				</li>
			</ul>
		</div>
	</div>
	<div data-role="footer" data-id="mainFooter" data-position="fixed">
		<div data-role="navbar" data-theme="a"
		style="height: inherit !important;">
			<ul>
				<li>
					<a href="#" id="dialer_tab" ><img class="dialer_img" src="../../../assets/images/dialet-1.png" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="recents.html"  id="recents_tab" class="ui-btn-active"><img class="recents_img" src="../../../assets/images/recents.png" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="#" id="contacts_tab"><img src="../../../assets/images/contacts-1.png" class="contacts_img" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="#" id="chats_tab"><img src="../../../assets/images/chats-1.png" class="chats_img" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="../../more/view/more.html"  id="more_tab"><img class="more_img" src="../../../assets/images/more-1.png" style="width:40px; height:40px;"/></a>
				</li>
			</ul>
		</div>
	</div>
</div>