<div data-role="page" id="change_pwd" data-theme="c">
<!-- <script type="text/javascript">
$('.header-arrowbtn').corner("cc:transparent bevel tl 10px").corner("cc:transparent bevel bl 10px").corner('tr 5px').corner('br 5px');
</script> -->
	<div data-role="header" class="astfone_header" data-theme="b" data-position="fixed">
		<a href="more.html" style="color:white;z-index:34" class="header_btn" > Back </a>
		<h1>Change Password</h1>
	</div>
	<div data-role="content" data-theme="c">
	
		<input type="text" data-theme="c" style="" name="old_pwd" id="old_pwd" value="" class="" placeholder="Old Password"/>
		<br>
		<input type="password" data-theme="c" style="" name="new_pwd" id="new_pwd" value="" class="" placeholder="New Password"/>
		<br>
		<input type="password" data-theme="c" style="" name="cfm_pwd" id="cfm_pwd" value="" class="" placeholder="Confirm Password"/>
		<br>
		<br>
		<a href="#" data-role="button"  class="astfone_button" id="submit_new_pwd">Submit</a>
	</div>
	<div data-role="footer" data-id="mainFooter" data-position="fixed">
		<div data-role="navbar" data-theme="a"
		style="height: inherit !important;">
			<ul>
				<li>
					<a href="#" id="dialer_tab"><img class="dialer_img" src="../../../assets/images/dialet-1.png" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="../../recents/view/recents.html" id="recents_tab"><img class="recents_img" src="../../../assets/images/recents-1.png" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="#" id="contacts_tab"><img src="../../../assets/images/contacts-1.png" class="contacts_img" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="#" id="chats_tab"><img src="../../../assets/images/chats-1.png" class="chats_img" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="more.html" id="more_tab" class="ui-btn-active"><img class="more_img" src="../../../assets/images/more.png" style="width:40px; height:40px;"/></a>
				</li>
			</ul>
		</div>
	</div>
</div>