<div data-role="page" id="more" data-theme="c" >
	<div data-role="header" class="astfone_header" data-theme="b">
		<h1></h1>
	</div>
	<div data-role="content">
		<div align="center">
			<ul data-role="listview" data-inset="true">
				<li id="profile" name="profile" class="">
					<a href="#"> <img
					class="ui-li-icon lazy" src="../../../assets/images/my-profile-icon.png"
					style="margin: 0px 0px 0px 2px;">
					<div style="padding: 5px 0px 6px 15px">
						My Profile
					</div> </a>
				</li>
				<li name="credit" class="">
					<a href="#"> <img
					class="ui-li-icon lazy" src="../../../assets/images/add-credit-icon.png"
					style="margin: 0px 0px 0px 2px;">
					<div style="padding: 5px 0px 6px 15px">
						Add Credit
					</div> </a>
				</li>
				<li name="rate_checker" id= "rate_checker" class="">
					<a href="#"> <img
					class="ui-li-icon lazy" src="../../../assets/images/rate-chacker-icon.png"
					style="margin: 0px -2px 0px 8px;">
					<div style="padding: 5px 0px 6px 15px">
						Rate Checker
					</div> </a>
				</li>
				<li name="tell_friend" class="">
					<a href="#"> <img
					class="ui-li-icon lazy" src="../../../assets/images/tell-a-friend-icon.png"
					style="margin: 0px 4px 0px 0px;">
					<div style="padding: 5px 0px 6px 15px">
						Tell a Friend
					</div> </a>
				</li>
			</ul>
			<ul data-role="listview" data-inset="true">
				<li id="how_works" name="how_works" class="">
					<a href="#"> <img class="ui-li-icon lazy"
					src="../../../assets/images/how-it-work-icon.png"
					style="margin: 0px 0px 0px 2px;">
					<div style="padding: 5px 0px 6px 15px">
						How It Works
					</div> </a>
				</li>
				<li name="terms" class="">
					<a href="#"> <img
					class="ui-li-icon lazy"
					src="../../../assets/images/term-conditions-icon.png"
					style="margin: 0px 0px 0px 2px;">
					<div style="padding: 5px 0px 6px 15px">
						Terms &amp; Conditions
					</div> </a>
				</li>
				<li name="chng_pwd" class="">
					<a href="changepwd.html"> <img
					class="ui-li-icon lazy"
					src="../../../assets/images/term-conditions-icon.png"
					style="margin: 0px 0px 0px 2px;">
					<div style="padding: 5px 0px 6px 15px">
						Change Password
					</div> </a>
				</li>
			</ul>
		</div>
	</div>
	<div data-role="footer" data-id="mainFooter" data-position="fixed">
		<div data-role="navbar" data-theme="a"
		style="height: inherit !important;">
			<ul>
				<li>
					<a href="#" id="dialer_tab"><img class="dialer_img tab_img" src="../../../assets/images/dialet-1.png" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="../../recents/view/recents.html" id="recents_tab"><img class="recents_img tab_img" src="../../../assets/images/recents-1.png" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="#" id="contacts_tab"><img src="../../../assets/images/contacts-1.png" class="contacts_img tab_img" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="#" id="chats_tab"><img src="../../../assets/images/chats-1.png" class="chats_img tab_img" style="width:40px; height:40px;"/></a>
				</li>
				<li>
					<a href="more.html" id="more_tab" class="ui-btn-active"><img class="more_img tab_img" src="../../../assets/images/more.png" style="width:40px; height:40px;"/></a>
				</li>
			</ul>
		</div>
	</div>
</div>